service vendor.sensors-hal-2-1-multihal /vendor/bin/hw/android.hardware.sensors@2.1-service.xiaomi-multihal
    override
    class hal
    user system
    group system wakelock context_hub
    writepid /dev/cpuset/system-background/tasks
    socket audio_us_socket_1 seqpacket 0666 system system
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10
