<!--
     SPDX-FileCopyrightText: The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<config>
    <overlay package="com.android.settingsproviders.garnet.poco" mutable="false" enabled="true" />
    <overlay package="com.android.wifi.resources.overlay.garnet.poco" mutable="false" enabled="true" />
</config>
